<!DOCTYPE <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Quiz</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/stylesheets/style.css " />
    <link rel="icon" href="favicon_core.ico" type="image/x-icon" />
</head>
<body>
    <header>
        <h2>The Quiz Site</h2>
    </header>

    <nav>
        <a href="/">Home</a>
        <a href="/author">Author</a>
        <a href="/credits">Credits</a>
        <a href="/quizzes">Quizzes</a>
    </nav>
    
    <section>
        <div>
            <%- body %>
        </div>
    </section>

    <footer>
        <a href="http://en.wikipedia.org/wiki/Quiz">
            What ia a Quiz</a>
    </footer>
</body>
</html>